.popup_container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
    background-color:grey;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:10;
}

.popup {
   width:700px;
   height:400px;
   background-color: #FCFCFC;
   display:flex;
   justify-content:center;
   align-items:center;
}

.left{
    flex:1;
    background-color:rgb(255, 0, 0);
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    /* background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26); */
}

.white{
    color:#ffffff;
    font-family: CircularStd;
    font-size:15px;

}


.right{
    flex:1;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:10px;
}

.input_title{
    font-family: CircularStd;
}

.right input{
    width:250px;
    height:20px;
    padding:5px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}



.login {
    background-color:#F42E27;
    width:255px;
    margin-top:20px;
    height:40px;
    border-radius:5px;
    color: #FFFFFF;
    font-family: CircularStd;
    font-size:15px;
}