@import "font.css";

body{
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    font-family: CircularStd, Sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.nav{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: white;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.nav > * {
    font-weight: 700;
}

.logo-container{
    height: 3vh;
    width: auto;
}

.logo-container img{
    object-fit: contain;
    height: 100%;
}

.btn-login:hover{
    color:red;
    cursor: pointer;
}

.create-large-text{
    font-size: 40pt;
    font-weight: 200;
    color: #000000;
    text-align:center;
}

/* HERO IMAGE BANNER ON INDEX.PHP */

.hero{
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding:40px 20px 20px 20px;;
    align-items: center;
}


.large-text{
    font-size: 40pt;
    font-weight: 200;
    color: #000000;
    text-align: left;
    width:85%;
}

.hero-content-container{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:100%;
}


@media only screen and (max-width: 800px) {
    .hero-content-container {
      flex-direction:column;
    }

    .right-hero{
        display:none;
        

    }
  }

.left-hero{
    flex:1;
    display:flex;
    flex-direction: column;
    padding-left:5em;
}

.right-hero{
    flex:1.25;
    background-image: url(../img/hero_img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-right:20px;
}

.redline{
    width:4px;
    height:4.5em;
    background-color:#F42E27;
    margin-right:1.5em;
}

.txt-desc-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.txt-desc{
    font-size:18px;
    font-weight:300;
    width:80%;
}

.mid-text{
    font-size: 18pt;
    font-weight: 700;
}

.btn-hero{
    border: solid 1px #F42E27;
    border-radius: 10px;
    object-fit: contain;
    width: 200px;
    text-align:center;
    margin-top:2em;
}

.btn-hero p {
    color: #F42E27;

}

.btn-hero:hover{
    background-color: #F42E27;
}

.btn-hero:hover p{
    color: white;
}

.star{
    color: #EF1A10;
}


/* ///////////////////////// */



/* ABOUT CONTAIENR */

.about-container {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    background-color: #ffffff;
    height:50vh;
    width:100vw;
}

.about-icon-container{
    display:flex;
    flex-direction:row;
    padding:20px;
}

.about-icon{
    flex:1;
    margin:1em 4em 0em 4em;
    padding:1em;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display:flex;
}

.red-icons{
    padding:1em;
    width:8vw;
    height:8vh;
}


.red-title{

}


/* END OF ABOUT CONTAINER */

/* VICTORIES AND ANIMATION SECTION */
.victories-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    background-color: #ffffff;
    height:50vh;
    width:100vw;
}
.large-title{
    font-family: CircularStd, Sans-serif;
    font-size:50px;
}


/* END OF VICTORIES */

/* POSTS */
.posts-container{
    margin: 0 25vw;
}

.post-container-header{
    margin: 100px 0;
}



