@import "font.css";

body{
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    font-family: CircularStd, Sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.nav{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: white;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.nav > * {
    font-weight: 700;
}

.logo-container{
    height: 3vh;
    width: auto;
}

.logo-container img{
    object-fit: contain;
    height: 100%;
}

.create-large-text{
    font-size: 40pt;
    font-weight: 200;
    color: #000000;
    text-align:center;
}

/* HERO IMAGE BANNER ON INDEX.PHP */

.hero{
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding:20px;
    align-items: center;
}


.large-text{
    font-size: 40pt;
    font-weight: 200;
    color: #000000;
    text-align: left;
    width:80%;
}

.hero-content-container{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:100%;
}


.left-hero{
    flex:1;
    display:flex;
    flex-direction: column;
    padding-left:5em;
}

.right-hero{
    flex:1.25;
    background-image: url(../img/hero_img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-right:20px;
}

.redline{
    width:4px;
    height:4.5em;
    background-color:#F42E27;
    margin-right:2em;
}

.txt-desc-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.txt-desc{
    width:50%;
    font-size:18px;
    font-weight:300;
}

.mid-text{
    font-size: 18pt;
    font-weight: 700;
}

.btn-hero{
    border: solid 1px #F42E27;
    border-radius: 10px;
    object-fit: contain;
    width: 200px;
    text-align:center;
    margin-top:2em;
}

.btn-hero p {
    color: #F42E27;

}

.btn-hero:hover{
    background-color: #F42E27;
}

.btn-hero:hover p{
    color: white;
}

.star{
    color: #EF1A10;
}


/* ///////////////////////// */



.posts-container{
    margin: 0 25vw;
}

.post-container-header{
    margin: 100px 0;
}



/* test */

